@charset "UTF-8";
:root {
	--cor0: black;
	--cor1: #eeeeee;
	--cor2: #F19D00;
	--cor3: #1F2041;
	--cor4: #4B3F72;
	--cor5: #119DA4;
	--cor6: #19647E;
}

* {
	margin: 0px;
	padding: 0px;
}
h1, h2, p {
	margin: 5px;
}

body {
	font: normal 1em Arial, sans-serif;
	background-color: #2b2b2b;
	background-image: linear-gradient(to bottom, var(--cor3) 6%, transparent);
	color: white;
}


header {
	background-color: var(--cor3);
	padding: 10px;
}


nav {
	background-color: var(--cor4);
	color: var(--cor6);
	padding: 10px;
	height: 25px;
}


nav > input {
	border: 0px solid transparent;
	outline: 0px solid transparent;
	background-color: var(--cor1);
	color: var(--cor6);
	padding: 3px;
	border-radius: 5px;
}


main {
	padding: 10px;
}


section {
	color: black;
	background-color: var(--cor1);
	max-width: 900px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 3px 3px 8px #000000b9;
	margin: 20px auto;
	min-height: 238px;
}
section > input {
	display: block;
	margin: auto;
	background-color: transparent;
	border: 0px solid transparent;
	text-decoration: none;
	font-weight: bold;
}
section > input:hover {
	color: var(--cor4);
	text-decoration: underline;
}

section > div {
	float: left;
	border-radius: 5px;
	border: 3px solid #3f3f3f;
	display: block;
	width: 98%;
	max-width: 465px;
	height: 220px;
	margin: 5px;
}
section > div > iframe {
	display: none;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	transition: transform 1s ease;
}
section > div > img {
	width: 100%;
	border-radius: 5px;
	transition: transform 1s ease;
}

section a {
	color: ;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: .5s;
}
section a:hover {
	border-bottom: 2px solid #f09c00;
	transition: .5s;
}
section h1::before {
	content: 'Projeto ';
}
section > h1 > a::after {
	content: '	[Ver site]';
	font-size: .5em;
}



@media screen and (max-width: 850px) {
	section > div {
		float: none;
		margin: 0px auto 5px auto;
	}
}