@charset "UTF-8";
:root {
	--cor0: black;
	--cor1: #eeeeee;
	--cor2: #F19D00;
	--cor3: #1F2041;
	--cor4: #4B3F72;
	--cor5: #119DA4;
	--cor6: #19647E;
}

* {
	margin: 0px;
	padding: 0px;
}
h1, h2, p {
	margin: 5px;
}

body {
	font: normal 1em Arial, sans-serif;
	background-color: #2b2b2b;
	background-image: linear-gradient(to bottom, var(--cor3) 3%, transparent);
	color: white;
}


header {
	background-color: var(--cor3);
	padding: 10px;
}
header > img {
	width: 120px;
	border-radius: 10px;
}

nav {
	padding: 10px;
	max-width: 470px;
}
/*Transição para mostrar contato*/
nav > div#divContato {
	padding: 5px;
	border-radius: 10px;
	display: inline-block;
	background-color: var(--cor1);
	width: 78px;
	height: 17px;
	transition: 1.5s;
	overflow: hidden;
}
nav > div#divContato.EfeitoContato {
	width: 98%;
	height: 100px;
	transition: 1.5s;
}

/*Botão para mostrar contato*/
nav > div#divContato > span#btContato {
	font-weight: bold;
	color: var(--cor6);
	transition: color 1s;
	display: block;
	padding-bottom: 3px;
	cursor: pointer;
}
nav > div#divContato > span#btContato:hover {
	color: var(--cor2);
	transition: color 1s;
}

/*Links*/
nav > div#divContato > p {
	font-weight: bold;
}
nav > div#divContato > p#linkedin {
	color: var(--cor6);
}
nav > div#divContato > p#email {
	color: #de0000;
}
nav > div#divContato > p#github {
	color: var(--cor0);
}
nav > div#divContato > p > span#iEmail {
	font-weight: normal;
}
nav > div#divContato > p > a {
	color: var(--cor4);
}


main {
	padding: 10px;
}


section {
	color: black;
	background-color: var(--cor1);
	max-width: 900px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 3px 3px 8px #000000b9;
	margin: 20px auto;
	min-height: 238px;
	position: relative;
}
section > input {
	display: block;
	margin: auto;
	background-color: transparent;
	border: 0px solid transparent;
	text-decoration: none;
	font-weight: bold;
}
section > input:hover {
	color: var(--cor4);
	text-decoration: underline;
}

section > img {
	width: 100%;
	border-radius: 5px;
	transition: transform 1s ease;
	float: left;
	max-width: 400px;
	display: block;
	margin-right: 5px;
	position: relative;
	transform: translateY(10%);
	border: 3px solid var(--cor3);
}

section a {
	color: var(--cor2);
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: .5s;
}
section a:hover {
	border-bottom: 2px solid #f09c00;
	transition: .5s;
}
section h1::before {
	content: 'Projeto ';
}
section > h1 > a::after {
	content: '	[Ver site]';
	font-size: .5em;
}



@media screen and (max-width: 769px) {
	section > img {
		float: none;
		margin: 0px auto 5px auto;
		transform: translateY(0%);
	}
}