:root {
   --cor0: #00120B;
   --cor1: #c52222;
   --cor2: #274690;
   --cor3: #f8f0f0;

   --sombra: #0000001c;
}
* {
   padding: 0px;
   margin: 0px;
}

body {
   font: normal 1em Arial, Helvetica, sans-serif;
   background-color: var(--cor3);
}


header {
   background-color: var(--cor0);
   color: white;
   padding: 10px;
   position: relative;
}
header > h1 {
   color: var(--cor1);
   display: inline-block;
}
header > nav {
   display: block;
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
}
header > nav > a {
   margin-left: 10px;
   font-weight: bold;
   color: var(--cor2);
}
header > nav > a::after {
   content: " >";
   opacity: 0%;
   transition: .3s;
}
header > nav > a:hover::after {
   opacity: 100%;
   margin-left: 5px;
   transition: .3s;
}
header > h1 > a {
   color: #c52222;
}

a {
   text-decoration: none;
}


/* Rodapé */
footer {
   text-align: center;
   font-size: .8em;
   padding: 5px;
}
footer a {
   color: var(--cor2);
   transition: .8s;
}
footer a:hover {
   color: var(--cor1);
   transition: .8s;
}