@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

:root {
   --cor: #0c0c0c;
   --cor2: #1c1c1c;
}

main {
   background-color: var(--cor);
   height: 100vh;
}

#topbar-user {
   box-shadow: 0px 5px 8px black;
   color: white;
   background-color: var(--cor);

   display: flex;
   justify-content: space-between;
   align-items: center;
}
#menu-user {
   padding-top: 6px;
   text-align: left;
   width: 50px;
   height: 30px;
   overflow: hidden;
   cursor: pointer;

   transition: width 1s;
}
#menu-user.open-user {
   width: 190px;

   transition: width 1s;
}
#open-menu {
   opacity: 0%;
   transition: .5s;
}
#menu-user:hover #open-menu {
   opacity: 100%;
   transition: .5s;
}
#topbar-user #image-user {
   padding: 5px;
   top: 0px;
   text-align: center;
   background-color: skyblue;
   border-radius: 50%;

}



.view-img {
   width: 200px;
   display: inline-block;
   background-color: var(--cor2);
   border-radius: 10px;
   padding: 5px;
}
.view-img > img {
   width: 100%;
   border-radius: 10px;
}

#galeria-de-artes {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
}