@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

:root {
   --cor: #0c0c0c;
   --cor2: #1c1c1c;
}


body {
	background-color: var(--cor);
}
main {
   background-color: var(--cor);
   font: normal 1em Arial, Helvetica, sans-serif;
}